div.card
    div.card-header
        h2 Connection
    div.card-body.card-padding
        form((submit)="save($event)")
            div.form-group
                div.fg-line
                    input.form-control.input-lg(placeholder='Name' '[value]'='name' '(input)'='name = $event.target.value')
            div.form-group
                div.fg-line
                    input.form-control.input-lg(placeholder='Host' '[value]'='host' '(input)'='host = $event.target.value')
            div.form-group
                div.fg-line
                    input.form-control.input-lg(placeholder='Key' '[value]'='key' '(input)'='key = $event.target.value')

            div.row-fluid
                div.span4.offset4.text-left
                        a.btn.btn-danger.waves-effect(routerLink='/') Cancel
                        button.btn.btn-primary.waves-effect(type='submit') Add