div.card
    div.card-header
        h2 Stored connections
    div.card-body.card-padding.table-responsive
        table.table
            thead
                tr
                    th #
                    th Name
                    th Host
                    th key
            tbody
                tr
                    td 1
                    td Sei la
                    td locaweb.com/documentDB
                    td UHasjiaspas0-120-132kasi90-12
                tr
                    td 2
                    td Sei la
                    td locaweb.com/documentDB
                    td UHasjiaspas0-120-132kasi90-12
                tr
                    td 3
                    td Sei la
                    td locaweb.com/documentDB
                    td UHasjiaspas0-120-132kasi90-12
