html
    head
        title ClientDB
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel='stylesheet' href='./node_modules/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='./node_modules/bootstrap/dist/css/bootstrap-theme.css')

        link(href="vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet")
        link(href="vendors/bower_components/animate.css/animate.min.css" rel="stylesheet")
        link(href="vendors/bower_components/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet")
        link(href="vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet")
        link(href="vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet")

        link(rel='stylesheet' href='./node_modules/codemirror/lib/codemirror.css')
        link(rel='stylesheet' href='./node_modules/codemirror/theme/yeti.css')

        link(rel='stylesheet' href='./css/app.css')
        link(rel='stylesheet' href='./css/index.css')
    body
        app

    script.
        window.$ = jQuery = require('jquery')

    script(src='./node_modules/core-js/client/shim.min.js')
    script(src='./node_modules/zone.js/dist/zone.js')
    script(src='./node_modules/reflect-metadata/Reflect.js')
    script(src='./node_modules/systemjs/dist/system.src.js')
    script(src='./node_modules/codemirror/lib/codemirror.js' type='text/javascript')
    script(src='./node_modules/codemirror/mode/sql/sql.js' type='text/javascript')
    script(src='./node_modules/codemirror/mode/javascript/javascript.js' type='text/javascript')
    script(src='./systemjs.config.js')


    script(src="vendors/bower_components/jquery/dist/jquery.min.js")
    script(src="vendors/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="vendors/bower_components/Waves/dist/waves.min.js")
    script(src="vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js")

    //script(src='js/app.js')

    script.
        System.import('app').catch(function (err) {
            console.error(err)
        });
