div.card
    div.card-header
        h2 SQL shell
    div.card-body.card-padding
        div.row
            div.col-xs-6
                textarea#textInputCode.CodeMirror
            div.col-xs-6
                textarea#textOutputCode.CodeMirror