div.card
    div.card-header
        h2 Stored connections
    div.card-body.card-padding.table-responsive
        table.table
            thead
                tr
                    th Name
                    th Host
                    th key
            tbody
                tr(*ngFor='let con of cons')
                    td {{con.id}}
                    td {{con.host}}
                    td {{con.key}}
    div.form-group
        button.btn.btn-primary.btn-icon.waves-effect.waves-circle.waves-float
            i.zmdi.zmdi-home(routerLink="/add")